<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <div>
      <a href="/" class="logo">GoniBoard</a>
      <a href="/post">List</a>
      <a href="/post/write">write</a>
    </div>

    <div>
      <% if (user) { %>
        <%= user.username %>님😀
        <a href="/user/logout">Logout</a>
      <% } else { %>
        <a href="/user/login">Login</a>
        <a href="/user/register">Join</a>
      <% } %>

    </div>
  </nav>
</body>
</html>